<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>All Products</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <header>
        <div class="logo">
            <a href="./index.html"><img src="../static/orangeshoe.png" alt="Logo"></a>
        </div>
        <div class="searchbox">
            <input type="text" placeholder="Search">
                <div class="searchicon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
        </div>
        <nav>
            <ul>
                <li><a href="./login.html">Login/Signup</a></li>
                <li><a href="">All Products</a></li>
                <div class="cartlogo">
                    <li><a href="shoppingcartpage.html"><img src="../static/orangecart.png" alt="Cart"></a></li>
                </div>
            </ul>
        </nav>
        </header>
    </div>
<!-- End of Header -->
    <div class="allproductstitle">
        <h1>All Products</h1>
    </div>
    <div class="content-2">
    <!----------------------------------------------------- Product 1 --------------------------------------------------------------->
                <div class="product_info">
                    <a href="">
                    <h2>Air Force 1 '07 - White/White</h2>
                    <div class="product_img">
                        <img src="../static/airforce1white.jpeg" alt="Air Force 1 WhiteWhite">
                        <div class="caption">     
                            <p>Caption 1</p>
                        </div>  
                        <div class="price">
                            <p><sup>$</sup>90</p>
                        </div>
                    </div>
                    </a>
                </div>
    <!----------------------------------------------------- Product 2 --------------------------------------------------------------->
                <div class="product_info">
                    <a href="">
                    <h2>Air Force 1 '07 - Black/Black</h2>
                    <div class="product_img">
                        <img src="../static/airforce1black.jpeg" alt="Air Force 1 Black">
                        <div class="caption">     
                            <p>Caption 1</p>
                        </div>  
                        <div class="price">
                            <p><sup>$</sup>100</p>
                        </div>
                    </div>
                    </a>
                </div>
    <!----------------------------------------------------- Product 3 --------------------------------------------------------------->
                <div class="product_info">
                    <a href="">
                    <h2>Free Run 5.0</h2>
                    <div class="product_img">
                        <img src="../static/freerun5.jpeg" alt="FreeRuns5">
                        <div class="caption">     
                            <p>Caption 1</p>
                        </div>  
                        <div class="price">
                            <p><sup>$</sup>100</p>
                        </div>
                    </div>
                    </a>
                </div>
    <!----------------------------------------------------- Product 4 --------------------------------------------------------------->
                <div class="product_info">
                    <a href="">
                    <h2>Air Force 1 '07 Red</h2>
                    <div class="product_img">
                        <img src="../static/airforce1red.jpeg" alt="redairforce1">
                        <div class="caption">     
                            <p>Caption 1</p>
                        </div>  
                        <div class="price">
                            <p><sup>$</sup>110</p>
                        </div>
                    </div>
                    </a>
                </div>
                <!--  -->
    <!----------------------------------------------------- Product 5 --------------------------------------------------------------->
                <div class="product_info">
                    <a href="">
                    <h2>Lebron 18 Low</h2>
                    <div class="product_img">
                        <img src="../static/lebron18lows.jpeg" alt="lebron18lows">
                        <div class="caption">     
                            <p>Caption 1</p>
                        </div>  
                        <div class="price">
                            <p><sup>$</sup>160</p>
                        </div>
                        </div>
                    </a>
                    </div>
            </div>
            <!-- End of Content-2 -->
</body>
</html>