<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        .container {
            margin-left: 19%;
            padding: 20px;
        }
        .button button{
        width: 300px;
        border-radius: 10px;
        padding: 5px;
        font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="value">
            <form action="/calculated" method="POST">
                <input type="number" placeholder="Number 1" name="firstnum">
                <input type="number" placeholder="Number 2" name="secondnum">
                <div class="Equation">
                    Addition
                    <input type="radio" name="calc" id="calc" placeholder="addition" value="addition">
                    Subtraction
                    <input type="radio" name="calc" id="calc" placeholder="subtraction" value="subtraction">
                    Multiplication
                    <input type="radio" name="calc" id="calc" placeholder="multiplication" value="multiplication">
                    Division
                    <input type="radio" name="calc" id="calc" placeholder="division" value="division">
                </div>
                <div class="button">
                    <button type="submit">Calculate</button>
                </div>
            </form>
        </div>
        <div class="result">
            {{result}}
        </div>
    </div>
</body>
</html>