{% extends "base.html" %}
{% block content %}
    {% block title %}
    <title>Home</title>
    {% endblock title %}
    {% block style %}
      <style>
        .content-1 h1 {
            font-size: 150px;
            color: white;
        }
    </style>
    {% endblock style %}
    {% block content_1 %}
        <h1>Gucci Shoes</h1>
    {% endblock content_1 %}
    {% block content_2 %}
<!----------------------------------------------------- Product 1 --------------------------------------------------------------->
            <div class="product_info">
                <a href="">
                <h2>Air Force 1 '07 - White/White</h2>
                <div class="product_img">
                    <img src="../static/airforce1white.jpeg" alt="Air Force 1 WhiteWhite">
                    <div class="caption">     
                        <p>Caption 1</p>
                    </div>  
                    <div class="price">
                        <p><sup>$</sup>90</p>
                    </div>
                </div>
                </a>
            </div>
<!----------------------------------------------------- Product 2 --------------------------------------------------------------->
            <div class="product_info">
                <a href="">
                <h2>Air Force 1 '07 - Black/Black</h2>
                <div class="product_img">
                    <img src="../static/airforce1black.jpeg" alt="Air Force 1 Black">
                    <div class="caption">     
                        <p>Caption 1</p>
                    </div>  
                    <div class="price">
                        <p><sup>$</sup>100</p>
                    </div>
                </div>
                </a>
            </div>
<!----------------------------------------------------- Product 3 --------------------------------------------------------------->
            <div class="product_info">
                <a href="">
                <h2>Free Run 5.0</h2>
                <div class="product_img">
                    <img src="../static/freerun5.jpeg" alt="FreeRuns5">
                    <div class="caption">     
                        <p>Caption 1</p>
                    </div>  
                    <div class="price">
                        <p><sup>$</sup>100</p>
                    </div>
                </div>
                </a>
            </div>
<!----------------------------------------------------- Product 4 --------------------------------------------------------------->
            <div class="product_info">
                <a href="">
                <h2>Air Force 1 '07 Red</h2>
                <div class="product_img">
                    <img src="../static/airforce1red.jpeg" alt="redairforce1">
                    <div class="caption">     
                        <p>Caption 1</p>
                    </div>  
                    <div class="price">
                        <p><sup>$</sup>110</p>
                    </div>
                </div>
                </a>
            </div>
            <!--  -->
<!----------------------------------------------------- Product 5 --------------------------------------------------------------->
            <div class="product_info">
                <a href="">
                <h2>Lebron 18 Low</h2>
                <div class="product_img">
                    <img src="../static/lebron18lows.jpeg" alt="lebron18lows">
                    <div class="caption">     
                        <p>Caption 1</p>
                    </div>  
                    <div class="price">
                        <p><sup>$</sup>160</p>
                    </div>
                    </div>
                </a>
                </div>
        {% endblock content_2 %}
{% endblock content %}