<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .content-1{
            background: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <header>
              <div class="logo">
                  <a href="./index.html"><img src="../static/orangeshoe.png" alt="Logo"></a>
              </div>
              <div class="searchbox">
                  <input type="text" placeholder="Search">
                      <div class="searchicon">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
              </div>
              <nav>
                  <ul>
                      <li><a href="./login.html">Login/Signup</a></li>
                      <li><a href="">All Products</a></li>
                      <div class="cartlogo">
                          <li><a href=""><img src="../static/orangecart.png" alt="Cart"></a></li>
                      </div>
                  </ul>
              </nav>
          </header>
          </div>
    <div class="content-1">
        <form action="">
            <h1 style="text-align: center;">Login to your account</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit">Login</button>
            <div class="forgotpassword">
                <a href="">
                    Forgot Password?
                </a>
            </div>
            <div class="forgotpassword">
                <a href="./signup.html">
                    Don't have an account? Create one now
                </a>
            </div>
        </form>
    </div>
    </div>
</body>
</html>