{% extends "base.html"%}
{% block content %}
    {% block title %}
    <title>Login</title>
    {% endblock title %}
    {% block style %}
    <style>
        .content-1{
            background: none;
        }
    </style>
    {% endblock style %}
    {% block content_1 %}
        {{message}}
        <form action="/login" method="POST">
            <h1 style="text-align: center;">Login to your account</h1>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Login</button>
            <div class="forgotpassword">
                <a href="">
                    Forgot Password?
                </a>
            </div>
            <div class="forgotpassword">
                <a href="./signup.html">
                    Don't have an account? Create one now
                </a>
            </div>
        </form>
        {% endblock content_1 %}
{% endblock content %}