<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create An Account</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .content-1{
            background: none;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <header>
              <div class="logo">
                  <a href="./index.html"><img src="../static/orangeshoe.png" alt="Logo"></a>
              </div>
              <div class="searchbox">
                  <input type="text" placeholder="Search">
                      <div class="searchicon">
                          <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
              </div>
              <nav>
                  <ul>
                      <li><a href="./login.html">Login/Signup</a></li>
                      <li><a href="">All Products</a></li>
                      <div class="cartlogo">
                          <li><a href=""><img src="../static/orangecart.png" alt="Cart"></a></li>
                      </div>
                  </ul>
              </nav>
          </header>
          </div>
    <div class="content-1">
        {{message}}
        <form action="/signup" method="POST">
            <h1 style="text-align: center;">Create a new account</h1>
            <div class="name">
                <input type="text" placeholder="First Name" name="firstname">
                <input type="text" placeholder="Last Name" name="lastname">
            </div>
            <div class="place">
                <select name="place" id="place">
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                </select>
            </div> 
            <div class="createemail">
                <input type="email" placeholder="Email" name="email">
            </div>
            <div class="createusername">
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="createpassword">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Confirm Password" name="cpassword">
            </div> 

            <button type="submit">Create Now</button>
            <div class="forgotpassword">
                <a href="./login.html">
                    Have an account already?
                </a>
            </div>
        </form>
    </div>
    </div>
</body>
</html>